<html>
  <head>
    <title>Répare ton potin !</title>
  </head>
  <body>
    <h1>Non aux fake_news !</h1>
    <p>Repare ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/:id/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Répare ce potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
