<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <% gossips.each_with_index do |gossip,index| %>
        <p>
    <h2>  <a href= "http://localhost:4567/gossips/<%=index%>/">  Potins n°<%=index%> </a> </h2> <br/>
          <%= gossip.author %> <br/>
          <%= gossip.content %>



        </p>
      <% end %>
  </body>

</html>
